// ==== H1 ====

// Mobile
$h1-m-size: 1.5rem;
$h1-m-height: 2rem;
$h1-m-weight: 700;

// Tablet & Desktop
$h1-size: 2.063rem;
$h1-height: 2.75rem;
$h1-weight: 700;

// ==== H2 ====

// Mobile
$h2-m-size: 0.75rem;
$h2-m-height: 1.25rem;
$h2-m-weight: 700;

// Tablet & Desktop
$h2-size: 0.75rem;
$h2-height: 1.25rem;
$h2-weight: 700;

// ==== H3 ====

// Mobile
$h3-m-size: 0.875rem;
$h3-m-height: 1.25rem;
$h3-m-weight: 700;

// Tablet & Desktop
$h3-size: 0.875rem;
$h3-height: 1.375rem;
$h3-weight: 700;

// ==== P ====

// Mobile
$p-m-size: 0.813rem;
$p-m-height: 1.125rem;
$p-m-weight: 400;

// Tablet & Desktop
$p-size: 0.875rem;
$p-height: 1.375rem;
$p-weight: 400;

// ==== LABEL & BUTTONS ====

// Mobile
$lb-m-size: 0.625rem;
$lb-m-height: 1.25rem;
$lb-m-weight: 700;

// Tablet & Desktop
$lb-size: 0.75rem;
$lb-height: 1.25rem;
$lb-weight: 700;

