@use "../styles/partials/breakpoints" as *;
@use "../styles/partials/variables" as *;

.header {
    width: 100%;
    padding: $padding-s;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        background-color: $p-white;
        img {
            width: 7.5rem;
            height: $padding-m;
        }
    }
    &__tools {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: $padding-s 0;
        &-form {
            width: 100%;
            min-width: 15rem;
            min-height: $padding-l;
            display: flex;
            align-items: center;
            position: relative;
            left: -15px;
            input {
                padding-left: $padding-m;
                width: 93%;
                height: 3rem;
                background-color: $s-alabaster;
                border-radius: 4px;
            }
            input:active {
                border: $p-blue 2px solid;
            }
            input::placeholder {
                color: $p-black;
            }
            img {
                height: $padding-s;
                position: relative;
                left: $padding-m;
                fill: $p-black;
            }

        }
        &-avatar img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
    }
    &__upload {
        width: 100%;
        height: 3.25rem;
        display: flex;
        &-a {
            width: 100%;
            text-decoration: none;
            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $p-blue;
                border: 0;
                width: 100%;
                color: $p-white;
                border-radius: 4px;
                h3 {
                    width: 20rem;
                }
            }
            &-button:hover {
                background-color: $s-blue;
                cursor: pointer;
            }
        }

        &-avatar {
            display: none;
        }
    }
    @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        &__logo {
            position: absolute;
            left: $padding-s;
            z-index: 2;
        }
        &__tools {
            width: 13rem;
            margin-right: $padding-s;
            &-avatar {
                position: absolute;
                right: $padding-s;
            }
        }
        &__upload {
            width: 13rem;
            margin-right: 4rem;
        }

    }
    @include desktop {
        padding: $padding-s 6rem;
        &__logo {
            left: 8rem;
        }
        &__tools {
            &-avatar {
                right: 5rem;
            }
        }
    }
}