@use "../styles/partials/breakpoints" as *;

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        background-color: white;
        img {
            width: 7.5rem;
            height: 1.5rem;
        }
    }
    &__tools {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        &-form {
            width: 100%;
            min-width: 15rem;
            min-height: 2.25rem;
            display: flex;
            align-items: center;
            position: relative;
            left: -15px;
            input {
                padding-left: 1.5rem;
                width: 93%;
                height: 3rem;
                background-color: #FAFAFA;
                border-radius: 4px;
            }
            input::placeholder {
                color: #323232;
            }
            img {
                height: 1rem;
                position: relative;
                left: 1.5rem;
                fill: #323232;
            }

        }
        &-avatar img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
    }
    &__upload {
        width: 100%;
        height: 3.25rem;
        display: flex;
        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0095FF;
            border: 0;
            width: 100%;
            color: white;
            border-radius: 4px;
            img {

            }
            h3 {
                width: 20rem;
            }
        }
        &-avatar {
            display: none;
        }
    }
    @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        &__logo {
            position: absolute;
            left: 1rem;
            z-index: 2;
        }
        &__tools {
            width: 13rem;
            margin-right: 1rem;
            &-avatar {
                position: absolute;
                right: 1rem;
            }
        }
        &__upload {
            width: 13rem;
            margin-right: 4rem;
        }

    }
    @include desktop {
        padding: 1rem 6rem;
        &__logo {
            left: 8rem;
        }
        &__tools {
            &-avatar {
                right: 5rem;
            }
        }
    }
}