@use "../styles/partials/breakpoints" as *;
@use "../styles/partials/variables" as *;

.comments {
    &__cards {
        margin: 0 $padding-s;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $s-mercury;
        padding: 0;
        list-style: none;
        .comments__card {
            display: flex;
            padding: 0.5rem 0;
            border-bottom: 1px solid $s-mercury;
            &-left img {
                width: 2.5rem;
                height: 2.5rem;
                background-color: grey;
                border-radius: 50%;
            }
            &-right {
                display: flex;
                flex-direction: column;
                padding: 0 0 0 $padding-s;
                &-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3, p {
                        margin: 0;
                    }
                    p {
                        color: $p-silver;
                    }
                }
                &-bottom {
                    p {
                        margin: 0;
                        padding: $padding-s 0 0.5rem 0;
                    }
                }
            }
        }
    }

    @include tablet {
        &__cards {
            margin: 0 2rem;
        }
    }
    @include desktop {
        &__cards {
            padding: $padding-s 0 2rem 7rem;
            margin: 0;
            .comments__card {
                padding-right: 2rem;
                padding: $padding-s 2rem $padding-s 0;
                border-bottom: 0;
                border-top: 1px solid $s-mercury;
            }
        }
    }
}