@use "./partials/breakpoints" as *;

.details {
    padding: 1rem;
    &__title {
        border-bottom: 1px grey solid;
        margin: 0;
        padding: 0.5rem 0 1rem 0;
    }
    &__sub-info {
        border-bottom: 1px grey solid;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .details__left {
            margin-right: 5rem;
            &-date {
                color: #AFAFAF;
            }
        }
        .details__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-views {
                display: flex;
                &-icon {
                    padding-right: 0.5rem;
                    fill: #AFAFAF;
                }
                p {
                    color: #AFAFAF;
                }
            }
            &-likes {
                display: flex;
                &-icon {
                    padding-right: 0.5rem;
                    fill: #AFAFAF;
                }
                p {
                    color: #AFAFAF;
                }
            }
        }
    }
    @include tablet {
        padding: 1rem 2rem;
        &__title {
            border-bottom: 0;
            padding-bottom: 0;
        }
        &__sub-info {
            justify-content: space-between;
            .details__left {
                display: flex;
                flex-direction: row;
                align-items: center;
                h3, p {
                    margin: 0;
                }
                &-author {
                    padding-right: 2rem;
                }
            }
            .details__right {
                flex-direction: row;
                &-likes {
                    margin-left: 2rem;
                }
            }
        }
    }
}