.comments {
    &__cards {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E1E1E1;
        padding: 0;
        list-style: none;
        .comments__card {
            display: flex;
            padding: 0.5rem 0;
            border-bottom: 1px solid grey;
            &-left img {
                width: 2.5rem;
                height: 2.5rem;
                background-color: grey;
                border-radius: 50%;
            }
            &-right {
                display: flex;
                flex-direction: column;
                padding: 0 0 0 1rem;
                &-top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3, p {
                        margin: 0;
                    }
                    p {
                        color: #AFAFAF;
                    }
                }
                &-bottom {
                    p {
                        margin: 0;
                        padding: 1rem 0 0.5rem 0;
                    }
                }
            }
        }
    }
}