@use "./partials/breakpoints" as *;
@use "../styles/partials/variables" as *;

.videos {
    padding: 0 $padding-s $padding-s $padding-s;
    display: flex;
    flex-direction: column;
    &__title {
        color: $p-silver;
        margin-bottom: $padding-s;
    }
    &__container {
        &-card {
            display: flex;
            height: 100%;
            padding: 0 0 $padding-s 0;
            flex-direction: column;
            margin: 0;
            a {
                display: flex;
                text-decoration: none;
                color: $p-black;
            }
            li {
                height: 4rem;
                list-style: none;
                display: flex;
                margin: 0.5rem 0;
           img {
            aspect-ratio: 16/9;
            height: 100%;
            border-radius: 4px;
            margin-right: $padding-s;
           }
        }
           &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3, p {
                margin: 0;
            }
            h3 {
                display: flex;
                text-align: start;
            }
            p {
                display: flex;
                align-items: flex-end;
            }
           }
        }
    }
    @include tablet {
        padding: 0 2rem;
    }
    @include desktop {
        width: 100%;
        padding-top: $padding-s;
        // margin-right: 1rem;
        &__title {
            font-size: 0.75rem;
        }
        &__container {
            &-card {
                li {
                    margin: 0.5rem 0;
                    .videos__container-card-text {
                        h3 {
                            font-size: $padding-s;
                        }
                    }
                }
            }
        }
    }
}