@use "../../../../styles/partials/breakpoints" as *;
@use "../../../../styles/partials/variables" as *;

.details {
    padding: $padding-s;
    &__title {
        border-bottom: 1px $s-mercury solid;
        margin: 0;
        padding: 0.5rem 0 $padding-s 0;
    }
    &__sub-info {
        border-bottom: 1px $s-mercury solid;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .details__left {
            margin-right: 5rem;
            &-date {
                color: $p-silver;
            }
        }
        .details__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-views {
                display: flex;
                &-icon {
                    padding-right: 0.5rem;
                    fill: $p-silver;
                }
                p {
                    color: $p-silver;
                }
            }
            &-likes {
                display: flex;
                &-icon {
                    padding-right: 0.5rem;
                    fill: $p-silver;
                }
                p {
                    color: $p-silver;
                }
            }
        }
    }
    @include tablet {
        padding: $padding-s 2rem;
        &__title {
            border-bottom: 0;
            padding-bottom: 0;
        }
        &__sub-info {
            justify-content: space-between;
            .details__left {
                display: flex;
                flex-direction: row;
                align-items: center;
                h3, p {
                    margin: 0;
                }
                &-author {
                    padding-right: 2rem;
                }
            }
            .details__right {
                flex-direction: row;
                &-likes {
                    margin-left: 2rem;
                }
            }
        }
    }
    @include desktop {
        padding: 2rem 0 0 7rem;
        &__right {
            padding-right: $padding-m;
        }
        &__description {
            padding-right: $padding-m;
        }
    }
}