@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.upload {
    padding: 0 $padding-s;
    border-top: 1px solid $s-mercury;
    &__title {
        color: $p-black;
        padding-top: $padding-s;
        padding-bottom: $padding-s;
    }
    &__left {
        margin-bottom: $padding-s;
        &-title {
            color: $p-silver;
            margin: 0;
            padding-bottom: 0.25rem;
        }
        img {
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 4px;
        }
    }
    &__right {
        &-form {
            display: flex;
            flex-direction: column;
            &-title {
                color: $p-silver;
                padding-bottom: 0.25rem;
                font-size: 0.75rem;
                &-input {
                    margin-bottom: $padding-s;
                    height: $padding-l;
                    padding-left: $padding-s;
                }
            }
            &-description {
                &-input {
                    height: 6rem;
                    padding: 0 0 2rem $padding-s;
                }
            }
            .input {
                border: 2px solid $s-mercury;
                border-radius: 4px;
                background-color: $s-alabaster;
            }
            .input:active {
                border: 2px solid $p-blue;
            }
            a {
                width: 100%;
                margin-top: $padding-m;
                text-decoration: none;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 2.5rem;
                    border: 0;
                    border-radius: 4px;
                    background-color: $p-blue;
                    padding-right: 1.75rem;
                    color: white;
                    img {
                        position: relative;
                    }
                    p {
                        text-align: center;
                        flex-grow: 1;
                        font-weight: $lb-m-weight;
                      }
                }
            }
            .upload__right-cancel {
                color: $p-blue;
                text-decoration: none;
                display: flex;
                justify-content: center;
                font-weight: $lb-m-weight;
                margin-top: 3rem;
            }
        }
    }

    @include tablet {
        padding-left: 2rem;
        padding-right: 2rem;
        &__title {
            padding-bottom: 2rem;
            border-bottom: 1px solid $s-mercury;
        }
        &__left {
            width: 25rem;
        }
        &__right-form {
            border-bottom: 1px solid $s-mercury;
            padding-bottom: 2rem;
            a {
                position: absolute;
                width: 10rem;
                right: 2rem;
                bottom: 6.5rem;
            }
            .upload__right-cancel {
                position: absolute;
                right: 15rem;
                bottom: 6rem;
                .upload__right-form-cancel {
                    font-weight: $lb-m-weight;
                }
            }
        }

    }

    @include desktop {
        padding: 0 5rem;
        &__left-right {
            display: flex;
            border-bottom: 1px solid $s-mercury;
            .upload__left {
                margin-right: $padding-m;
            }
            .upload__right {
                padding-top: 0.5rem;
                &-form {
                    border-bottom: 0;
                    padding-bottom: 0;
                }
                width: 100%;
                &-form-container {
                    bottom: 24rem;
                    right: 5rem;
                }
                &-form-button:hover {
                    cursor: pointer;
                }
            }
        }
        &__right-form {
            .upload__right-cancel {
                bottom: 23.5rem;
                right: 17rem;
            }
        }
    }
}