@use "../../../../styles/partials/breakpoints" as *;
@use "../../../../styles/partials/variables" as *;

.form {
    display: flex;
    flex-direction: column;
    &__total-comments {
        padding-left: $padding-s;
        margin: 0;
        padding-bottom: 0.5rem;
    }
    &__subtitle {
        display: none;
    }
    &__container {
        display: flex;
        width: 100%;
        padding: $padding-s;
        &-left {
            padding: 1.75rem $padding-s 0 0;
            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            width: 100%;
            &-title {
                margin: 0;
                padding-bottom: 0.5rem;
                color: #AFAFAF;
            }
            &-input {
                height: 5rem;
                padding: 0 0 3rem 0.75rem;
                border-radius: 5px;
                border: 1px $s-mercury solid;
                background-color: $s-alabaster;
            }
            &-input::placeholder {
                color: $p-black;
            }
            &-input:active {
                border: $p-blue 2px solid;
            }
            &-post {
                width: 100%;
                margin-top: 1.25rem;
                button {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                background-color: $p-blue;
                border: 0;
                border-radius: 4px;
                padding: 0 2rem;
                p {
                    color: $p-white;
                    padding-left: 35%;
                }
                }
                button:hover {
                    background-color: $s-blue;
                    cursor: pointer;
                }
            }
        }
    }
    @include tablet {
        padding: 0 2rem;
        &__total-comments {
            padding-left: 0;
        }
        &__subtitle {
            display: flex;
            margin: $padding-m 0 0 3.5rem;
            color: #AFAFAF;
        }
        &__container {
            padding: 0.5rem 0 0.5rem 0;
            &-left {
                padding: 0 $padding-s 0 0;
            }
            &-right {
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                &-title {
                    display: none;
                }
                &-input {
                    width: 100%;
                    height: 3rem;
                    padding: 0 0 0 $padding-s;
                    margin-right: $padding-s;
                }
                &-post {
                    width: 40%;
                    height: 3rem;
                    margin: 0;
                    button {
                        height: 100%;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    @include desktop {
        padding-left: 7rem;
        padding-top: 2rem;
        &__container {
            &-right {
                &-post {
                    button {
                        justify-content: center;
                    }
                }
            }
        } 
    }
}