@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.player {
    background-color: $s-black;
    video {
        width: 100%;
        aspect-ratio: 16/9;
    }
    @include tablet {
        display: flex;
        justify-content: center;
        video {
            width: 90%;
        }
    }
    @include desktop {
        video {
            width: 75%;
        }
    }
}